html
    head
        title WIP: CDog's Homepage.
        link(href="./styles/common.styl" rel="stylesheet" type="text/css")
        link(href="./styles/main.styl" rel="stylesheet" type="text/css")
    body
        .dev-log
            p.log-item
                span.date.dp-i-block.v-middle 30th Jul 2019
                span.cnt.v-middle [RE]Start

            p.log-item.activated
                span.date.dp-i-block.v-middle 07th Aug 2019
                span.cnt.v-middle [Continuous] Integration

        script(src="./main.ts")
