body
  display: flex
  align-items center
  justify-content center
  margin 0
  background-color #fafafa
  user-select none

p
  margin: 0

.dev-log
  .date
    margin-right 8px
    color: rgba(0, 0, 0, 0.4)
    font-size 12px

  .cnt
    font-size 16px

  .log-item
    position relative
    margin-top: 24px
    white-space nowrap

    &:not(.activated)::after
      content ''
      position: absolute
      left -13.5px
      bottom 8px
      height 40px
      width 1px
      transform translateY(100%)
      background-color: rgba(0, 0, 0, 0.4)

    &::before
      content ''
      position: absolute
      width 5px
      height 5px
      border-radius: 3px
      left -16px
      top: 50%
      transform translateY(-50%)
      background-color rgba(0, 0, 0, 0.4)

    &.activated::before
      background-color #00eb00
      animation bling 2s ease infinite

    @keyframes bling
      from
        opacity 0
      50%
        opacity 1
      to
        opacity 0
